*{
    padding: 0;
    margin: 0;
    font-size: medium;
    /* background-color: aqua; */
    /* border: border-box; */
    box-sizing: border-box;

}
.Calculator{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px 0px 0px 0px;
    padding: 1.25rem;
    /* height: 31.25rem;
    width: 25rem; */
    /* background-color: blue; */
    
}
.container{
    
    
    height: 27.78rem;
    width: 22rem;
    background-color: rgba(0, 0, 0, 0.758);
    border-radius: 10px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    
    
}
h4{
    /* position: absolute; 
    top: 6.5rem; */
    /* left: 1rem; */
    width: 100%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    /* display: inline; */
    text-align: left;
    padding-left: 1.25rem;
    
    height: 1.4rem;
    color: #ffffff;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-sizing: border-box;
} 
#inputbox{
    margin-top: 1rem;
    width: 19rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 10px;
    border: none;
    outline: none;

    font-weight: bold;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.btn-container{
    height: 22rem;
    width: 20rem;
    /* border: 2px solid white; */
    box-shadow: 0 0 15px rgb(22, 10, 10);
    margin: 9px 16px 9px 16px;
}
button{
    /* padding-top: 1rem; */
    
    margin: 1rem 0.75rem 0rem 0.75rem;
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 50%;
    /* border: none; */
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #78edff;
    box-shadow: 0 0 8px rgba(120, 237, 255, 0.8);
}
.pressAc{
    background-color: red;
    font-weight: 700;
}
.pressEq{
    background-color: skyblue;
    font-weight: 700;

    /* box-shadow: 0 0 10px rgba(135, 206, 235, 0.9); */
}

.press0{
    border-radius: 20px;
    width: 8rem;
}